<p>edit-vehicle works!</p>
<form [formGroup]="updateVehicleForm" (ngSubmit)="submitVehicleUpdate()">  
    <label for="model_make">Make and model</label>
    <input type="text" id="model_make" name="model_make" formControlName="model_make">
  
    <label for="nickname">Nickname</label>
    <input type="text" id="nickname" name="nickname" formControlName="nickname">

    <label for="type">Type</label>
    <select name="type" id="type" formControlName="type">
        <option *ngFor="let vehicle_type of types_of_vehicles" [value]="vehicle_type">{{vehicle_type}}</option>
      </select>
    
    <button type="submit">Save</button>
    <a class="button" routerLink="/show-vehicle/{{ vehicle.vehicle_id }}">Cancel</a>
  </form>
  <button class="button" style="color: red" type=button class="btn btn-primary"  (click)="deleteVehicle()">Delete</button>
